<%- include('./partials/header.ejs')%>
<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col-sm-2">
      <%- include('./partials/sidebar.ejs', {page_name : 'Home'})%>
    </div>

    <div class="col-sm-10">
      <!-- Main Content -->
      <div class="container mt-5">
        <h1
          style="text-transform: uppercase"
          class="text-warning mb-5 border-bottom"
        >
          <%=title%>
        </h1>
      </div>
      <div class="mt-5">
        <div class="text-center">
          <img
            src="/images/pic1.jpg"
            alt=""
            class="img-thumbnail"
            width="250px"
            height="150px"
          />
        </div>
        <div class="mt-5 text-white mx-5 text-justify">
          <h1 class="fw-bold st-font">Hello!</h1>
          <div class="px-4" style="line-height: 2rem">
            <p style="text-indent: 100px">
              I am <b class="text-warning">Dipesh Ram Shrestha</b> having 3
              years of full-stack web development experience for global
              businesses, I offer the technical expertise you are seeking for
              your web developer position.
            </p>
            <p>
              Since earning my Post Graduate Diploma degree in Web Development
              from <b class="text-warning">The University of Winnipeg</b>, I
              have served as a web developer at
              <b class="text-warning">Himalayan Medical Technologies</b>, one of
              the biggest premier medical supplier and digital online firm for
              medical equipment. In this position, I have led web development
              projects for clients in diverse industries including technology,
              manufacturing, pharmaceutical, hospitality, retail and financial
              services.
            </p>
            <p>
              I am a full-stack web developer with over 3 years of web
              application experience specializing in Node.js, JavaScript, MySQL,
              HTML5/CSS3, and PHP Frameworks such as WordPress, Laravel, and
              Vue.js. My expertise in the latest industry standards following
              Kubernetes architecture allows me to create seamless and intuitive
              user interfaces for more than 15 web applications. From designing
              visually appealing webpages using Adobe Creative Suite to
              deploying and hosting applications on AWS and Salsa servers, I am
              dedicated to delivering high-quality solutions that exceed client
              expectations. During my study, I applied the W3C Markup Validation
              Tool and WebAIM WAVE Tool to score above 95 in the Google
              Lighthouse. Driven by a passion for innovation and a desire to
              make a meaningful impact, I am excited to continue growing and
              contributing to the dynamic field of web development.
            </p>
          </div>
        </div>
        <div class="text-center">
          <a href="/contact" class="btn btn-outline-warning mx-5 my-3"
            >Hire Me</a
          >
          <a href="/contact/" class="btn btn-outline-info">Contact</a>
        </div>
      </div>
      <!-- End of Main Content -->
    </div>
  </div>
</div>

<%- include('./partials/footer.ejs') %>
