<%- include('./partials/header.ejs') %>
<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col-sm-2">
      <%- include('./partials/sidebar.ejs', {'page_name': 'Services'})%>
    </div>

    <div class="col-sm-10">
      <!-- Main Content -->
      <div class="container mt-5">
        <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
        <div class="row text-center text-white mb-5">
          <div class="col-sm-4">
            <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color">
              Full-stack Web Developer | PHP | NodeJs | Javascript | MySQL |
              GitHub | UI/UX | Adobe Creative Cloud to help build 15+ highly
              intuitive Web applications
            </p>
          </div>
          <div class="col-sm-4">
            <i class="fas fa-palette fa-2x mb-3 i-color"></i>
            <h3>Web Design</h3>
            <p class="ss-color">
              Installed 15+ HD ScopyDoc v8.2.5.0 Patient reporting software
              using MySQL database to print the patient diagnostic report and
              seamlessly integrated with web servers like Apache and CMS
              (WordPress) strictly following Kubernetes Architecture.
            </p>
          </div>
          <div class="col-sm-4">
            <i class="fas fa-code fa-2x mb-3 i-color"></i>
            <h3>E-commerce Capstone Project</h3>
            <p class="ss-color">
              Created 5 webpages of a responsive E-commerce website for a
              capstone project for desktop and mobile applications using
              HTML5/CSS3, JavaScript, and PHP.
            </p>
          </div>
        </div>
        <div class="row text-center text-white mb-5">
          <div class="col-sm-4">
            <i class="fab fa-android fa-2x mb-3 i-color"></i>
            <h3>Backend Web Development</h3>
            <p class="ss-color">
              Back End CRUD operations with Back End Dashboard, aggregate data
              with admin authentication. Designed 10+ webpages using Adobe
              Photoshop, InDesign, and Adobe Illustrator for the most popular
              web browsers like Google Chrome and Safari by applying Web Design
              Principles.
            </p>
          </div>
          <div class="col-sm-4">
            <i class="fab fa-apple fa-2x mb-3 i-color"></i>
            <h3>API</h3>
            <p class="ss-color">
              Used the Fetch API and transmitted the patient data using HTTP
              Request Methods through Ajax with jQuery and JavaScript while
              maintaining data integrity and security by considering multiple
              attacks like SQL Injection, XSS, CSRF, and Dependency Injections.
              Applied Type hinting, traits, and namespaces with PHP Data Object
              (PDO) to catch errors at an early stage of patient data
              development web application, exercised Composer Package Manager
              with MVC – Process and Organization, Routing, Controllers
              maintaining clean code under SOLID principles.
            </p>
          </div>
          <div class="col-sm-4">
            <i class="fas fa-ad fa-2x mb-3 i-color"></i>
            <h3>Data Handling</h3>
            <p class="ss-color">
              Accurately processed the sales and service pipelines for medical
              endoscopy, CT scan, Ultrasound, OT Lights, and OT Tables averaging
              1200 records per month; including installation completion,
              updating warranty and out of warranty period, Breakdown Service
              Reports information, and processing the documents using data
              handling software like Tally, OMS, and Pivotal Tables.
            </p>
          </div>
        </div>
      </div>
      <!-- End Main Content -->
    </div>
  </div>
</div>
<%- include('./partials/footer.ejs')%>
